<% provide(:title, "Feed Details") %>
<div class="row">
	<div class="span7">
		<ul class="breadcrumb">
			<% unless @feed.company.parent_company.nil? %>
			  <li><%= link_to @feed.company.parent_company.name, parent_company_url(@feed.company.parent_company) %> <span class="divider">/</span></li>
			<% end %>
		  <li><%= link_to @feed.company.name, company_url(@feed.company) %>
				<span class="divider">/</span></li>
		  <li class="active"><%= @feed.feed_type.name %></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h3><%= "#{@feed.company.try(:name)} - #{@feed.feed_type.name} Details" %></h3>
	</div>
</div>

<%= render 'shared/feed'%>

