<% provide(:title, "Exam Companies") %> 
<h3>Exam Companies</h3>

<table class="table table-striped table-hover table-condensed" id="Companies">
  <thead>
		<tr>
	    <th>Name</th>
	    <th>Alias</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
		<% @companies.each do |company| %>
		  <tr>
		    <td><%= company.name %></td>
		    <td><%= company.alias %></td>
		    <td><%= link_to 'Show', company %></td>
		    <td><%= link_to 'Edit', edit_company_path(company) %></td>
		    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
