<% provide(:title, "Carriers") %> 
<h3>Carriers</h3>

<div class="row">
	<div class="span6">
		<%= search_form_for (@q ) do |f| %>
		  <%= f.text_field :name_cont, class: "input-medium search-query", placeholder: "Name contains" %>
			<%= f.submit "Search", class: "btn btn-success" %>
			<%= link_to "Reset", companies_path, class: "btn"%>
		<% end %>
	</div>
</div>

<table class="table table-striped table-hover table-condensed" id="Companies">
  <thead>
		<tr>
			<th><%= sort_link @q, :name, "Name" %></th>
			<th>Parent company</th>
	    <th><%= sort_link @q, :alias, "Alias" %></th>
	    <th><%= sort_link @q, :naic_code, "NAIC Code" %></th>
			<th><%= sort_link @q, :ai_carrier_code, "AI Code" %></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
		<% @companies.each do |company| %>
		  <tr>
		    <td><%= link_to "#{company.name}", company %></td>
				<td><%= link_to "#{company.parent_company.try(:name)}", parent_company_path(company.parent_company) unless company.parent_company.nil? %></td>
		    <td><%= company.alias %></td>
		    <td><%= company.naic_code %></td>
				<td><%= company.ai_carrier_code %></td>
		    <td><%= link_to raw('<i class="icon-edit"></i> Edit'), edit_company_path(company), class: "btn btn-small" if current_user.admin? %></td>
		    <td><%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' if current_user.admin? %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to raw('<i class="icon-plus icon-white"></i> Add Company'), new_company_path, class: "btn btn-primary" if current_user.admin? %>
