<% provide(:title, "#{@company.company_type.name}") %> 
<div class="row">
	<div class="span6">
		<h3><%= "#{@company.name} Details" %></h3>
	</div>
</div>

<div class="row">
	<div class="span5 well">
		
		<p>
		  <strong>Name:</strong>
		  <%= @company.try(:name) %>
		</p>
		
		<p>
		  <b>Alias:</b>
		  <%= @company.alias %>
		</p>
		
		<p>
		  <b>Parent company:</b>
		  <%= @company.parent_company.try(:name) %>
		</p>

		<p>
		  <b>Company type:</b>
		  <%= @company.company_type.try(:name) %>
		</p>
		
		<p>
		  <b>AI Carrier Code:</b>
		  <%= @company.ai_carrier_code %>
		</p>
		
		<p>
		  <b>NAIC code:</b>
		  <%= @company.naic_code %>
		</p>

	</div>

	<div class="span5 well">
		<address>
			<strong>Address:</strong><br/>
		  <%= @company.address_line_1 %><br/>
		  <%= @company.address_line_2 %><br/>
		  <%= @company.address_line_3 %><br/>
		  <%= @company.city %>, <%= @company.state.try(:name) %> <%= @company.zip %>
		</address>

		<p>
		  <b>URL:</b>
		  <%= @company.url %>
		</p>

	</div>

	<div class="span7 well">
		<p>
		  <b>Notes:</b>
		  <%= @company.notes %>
		</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<%= link_to 'Edit', edit_company_path(@company), class: "btn" if current_user.admin? %>
		<%= link_to 'Back', :back %>
	</div>
</div>