<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/header' %>
  <section>
    <div class="container">
      <div id="flash_messages"><%= flash_messages(:close, :fade) %></div>
      <%= yield %>
    </div>
  </section>
</body>
</html>
